[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic = "*"
sqlalchemy = "*"
mysql-connector-python = "*"
numpy = "*"
pydantic-settings = "*"
pandas = "*"
exceptiongroup = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.10"
